<% content_for :meta_title, "Retrouvez #{@bloguer.name} sur Take Away Trips !" %>
<% content_for :meta_image, @bloguer.facebook_pic %>



<div class="supreme-container">
<div class="blog-header">
    <div class="blog-banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path (@bloguer.banner)%>);">
    </div>

    <div class="blog-logo" style="background-image: url(<%= image_path (@bloguer.profile_pic)%>); border: 1px solid #5B5B5A;">
    </div>

    <div class="blog-name">
      <h2>
        <%= "#{@bloguer.name}" %>
      </h2>
    </div>

    <div class="blog-intro">
      <div class="blog-shortdescription">
        <p>
          <%= "#{@bloguer.short_desc}" %>
        </p>
      </div>
      <div class="blog-spot">
        <p>
          <i class="material-icons">place</i>
        </p>
      </div>
      <div class="blog-location">
        <p>
          <%= "#{@bloguer.location}" %>
        </p>
      </div>
    </div>

    <div class="blog-bannerbottom">
      <div class="blog-detail">
        <div class="blog-longdescription">
          <p>
            <%= "#{@bloguer.long_desc}" %>
          </p>
          <br>
          <p>
          <% if @bloguer.facebook != "" %>
            <%= link_to @bloguer.facebook, style: "padding-right: 5px;", :target => "_blank" do %>
               <%= image_tag "FacebookLogo.png" %>
            <% end %>
          <% end %>
          <% if @bloguer.instagram != "" %>
            <%= link_to @bloguer.instagram, style: "padding-right: 5px; padding-left: 5px;", :target => "_blank" do %>
               <%= image_tag "InstaLogo.png" %>
            <% end %>
          <% end %>
          <% if @bloguer.twitter != "" %>
            <%= link_to @bloguer.twitter, style: "padding-right: 5px; padding-left: 5px;", :target => "_blank" do %>
               <%= image_tag "TwitterLogo.png" %>
            <% end %>
          <% end %>
          </p>
        </div>

        <div class="blog-statistiques">

        </div>
      </div>
    </div>
</div>


<div class="wrapper-blog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="blog-itw">
          <p><b><%= @bloguer.question1 %></b></p>
          <p><%= @bloguer.answer1%></p>
          <br>
          <p><b><%= @bloguer.question2 %></b></p>
          <p><%= @bloguer.answer2 %></p>
          <br>
          <p><b><%= @bloguer.question3 %></b></p>
          <p><%= @bloguer.answer3 %></p>
          <br>
          <p><b><%= @bloguer.question4 %></b></p>
          <p><%= @bloguer.answer4 %></p>
          <br>
          <p><b><%= @bloguer.conclusion %></b></p>
          <br>
          <p><%= "Retrouvez #{@bloguer.name.split.map(&:capitalize).join(' ')} sur "%></p>
          <p><%= link_to "#{@bloguer.website}", @bloguer.website, :target => "_blank"%></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="blog-guides text-center">
          <div class="blogueurshow-stamp">
            <%= image_tag("Blogueur.png", class: "stylestampshow") %>
          </div>
          <h4><b><%="Les guides TAT de #{@bloguer.name.split.map(&:capitalize).join(' ')}"%></b></h4>
          <%= render 'shared/guidesblog', guides: @guides %>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
