
<br>

Bonjour <%= @user.first_name %>, <br>
<br>

Bienvenue sur <b><%=link_to "Take Away Trips", "http://www.takeawaytrips.com", {:style=>'color:#C63939; text-decoration:none'}%></b> ! <br><br>

Take Away Trips est en version test pour l'instant, et nous comptons sur nos premiers utilisateurs pour faire évoluer rapidement notre service. <br><br>

Ainsi, sans plus attendre, connectez-vous sur votre <b><%=link_to "guideboard", guides_url, {:style=>'color:#C63939; text-decoration:none'}%></b> et commencez à créer vos premiers guides ! <br><br>

Si en revanche vous manquez d'inspiration, peut-être que vos <b><%=link_to "amis", friends_url, {:style=>'color:#C63939; text-decoration:none'}%></b> vous aideront à préparer votre prochain voyage ?...Ou votre prochaine sortie :) <br><br>

<%= @user.first_name %>, si vous avez des suggestions, surtout n'hésitez pas et envoyez-moi un message sur <%= mail_to "paul@takeawaytrips.com", "paul@takeawaytrips.com", {:style=>'color:#C63939; text-decoration:none'} %>. Si vous n'avez pas de suggestions mais que vous souhaitez seulement papoter, c'est la même adresse. <br><br>

A bientôt sur Take Away Trips ! <br><br>

Paul<br>
<div style="font-size:12px">Fondateur</div><br><br>




