<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="box-card" id="card-<%=card.id%>" >
    <%= link_to "", "", class: "card-link", data: {toggle: "modal", target: "#cardModal_#{card.id}"} %>
    <div class="banner-card" style="background-image: url(<%= image_path card.choosephoto %>)">
    <div class="opentoday">
      <% case card.opened?
        when true
      %>
        <div class="openbtn">Open</div>
      <% when false %>
        <div class="closedbtn">Closed</div>
      <% end %>
    </div>
    </div>
    <div class="edit-card">
      <% if current_user == @guide.user %>
        <%= link_to card_path(card), method: :delete, remote: true do %>
          <i class="fa fa-trash" aria-hidden="true" style="color:#272822"></i>
        <%end%>
        <br>

        <%= link_to "", data: {toggle: "modal", target: "#editcardModal_#{card.id}"} do %>
          <i class="fa fa-pencil" aria-hidden="true" style="color:#3287C2"></i>
        <% end %>

      <% else %>
        <%= link_to add_card_path(card) do %>
          <i class="fa fa-plus" aria-hidden="true" style="color:#25aa99"></i>
        <%end%>
      <% end %>

      </div>
    <div class="title-card">
      <%= card.name %>
    </div>
    <div class="type-card">
      <%= Card::CATEGORIES[card.category] %>
    </div>
    <div class="adress-card">
      <%= card.formatted_address %>
    </div>
     <div class="personnal_note-card">
      <%= card.personnal_note.chars.take(100).join + "..." %>
    </div>
    </div>
</div>
