<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="box-card" >
    <%= link_to "", card_path(card), class: "card-link" %>
    <div class="banner-card" style="background-image: url(<%= image_path card.gphoto %>)">
    </div>
    <div class="title-card">
      <%= card.name.upcase %>
    </div>
    <div class="type-card">
      <%= card.category.capitalize %>
    </div>
    <div class="adress-card">
      <%= card.formatted_address %>
    </div>
     <div class="personnal_note-card">
      <%= card.personnal_note.chars.take(100).join + "..." %>
    </div>
      <%= link_to 'Edit', edit_card_path(card) %> |
      <%= link_to 'Delete', card, method: :delete %> |
    </div>
</div>
