
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="box-guides" id="box" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 50%), url(<%= cl_image_path guide.choosephoto %>)">
    <%= link_to "", guide_path(guide), class: "card-link" %>
      <div class="title-guides">
        <%= guide.name.upcase %>
      </div>
      <div class="privacy-info">
        <% if guide.privacy == nil || guide.privacy == "facebook" || guide.privacy == "" %>
          <% if current_user == guide.user %>
            <i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Only you and your friends can see this guide"></i>
          <% else %>
            <i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title= "<%= "#{guide.user.first_name}"+" shared this guide to his friends only"%>"></i>
          <% end %>
        <% elsif guide.privacy == "private" %>
          <% if current_user == guide.user %>
          <i class="fa fa-lock" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Only you can see this guide"></i>
          <% else %>
          <i class="fa fa-lock" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title= "<%= "#{guide.user.first_name}"+" don't want to share this guide"%>"></i>
          <% end %>
        <% else %>
          <% if current_user == guide.user %>
          <i class="fa fa-globe" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Any user of TAT can see this guide"></i>
          <% else %>
          <i class="fa fa-globe" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title= "<%= "#{guide.user.first_name}"+" shared this guide to any TAT user"%>"></i>
          <% end %>
        <%end%>
      </div>
      <div class="infos-guides">
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= guide.cards.size %>
      </div>
      <% if current_user == guide.user %>
      <div class="edit-guides">
        <%= link_to guide_path(guide), type: "button", method: :delete, data: { confirm: "Êtes vous sûr ? ", :'confirm-button-text' => 'Oui', :'cancel-button-text' => 'Non', :'confirm-button-color' => '#25AA99', text: "Vous n'aurez plus accès à ce guide (et nous non plus)", :'image-url' => image_path('Logo.png') } do %>
          <i class="fa fa-trash" aria-hidden="true" style="color:#272822"></i>
        <% end %>
        <br>
        <%= link_to "", data: {toggle: "modal", target: "#editguideModal_#{guide.id}"} do %>
          <i class="fa fa-pencil" aria-hidden="true" style="color:#3287C2"></i>
        <% end %>
      </div>
      <% end %>
    </div>

  </div>




