<!-- Modal -->
<% content_for :meta_title, "#{@card.name}" %>
<%# content_for :meta_description, @product.description %>
<%# content_for :meta_image, @product.url %>
<div class="modal fade" id="cardModal_<%= card.id %>" tabindex="-1" role="dialog" aria-labelledby="cardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content-card">
      <div class="modal-img-card" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 50%), url(<%= image_path card.choosephoto %>)">
        <%= card.name %>
      </div>
      <div class="modal-body-card-card">
      <% if card.international_phone_number != "" %>
      <div class="phone">
      <%= card.international_phone_number%>
      </div>
      <%end%>
      <div class="contactcard">
        <% if card.website != "" %>
        <%= link_to "Website", card.website, :target => "_blank" %>
        <% end %>
        </div>
        <div class="containinfo">
        <% if card.opening_hours != [] %>
          <div class="opening-card">
            <button class="showhours" >show hours</button>
              <ul class="list-unstyled">
              <% card.opening_hours.each do |hour| %>
                <% if hour.include?("di") %>
                  </li><li><%= hour %>
                <% else %>
                  <span> - <%= hour %></span>
                <% end %>
              <% end %>
              </ul>
          </div>
        <% end %>
        <% if card.personnal_note != "" %>
          <div class="note-card">
          <button class="shownote">show notes</button>
            <div class="notes">
              <p><%= card.personnal_note %></p>
            </div>
          </div>
        <% end %>
        <div class="map-card">
          <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=600x180&sensor=false&maptype=roadmap&markers=color:red|#{card.formatted_address}" %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
