<div class="navbar-wagon <%= params[:action] == 'home' ? 'navbar-wagon-fixed' : '' %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Logowhite.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <!-- <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%# link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
       <!--  <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div> -->
      <%#end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t ".home", default: "Home" %>
              <% end %>
            </li>
            <li>
              <%= link_to guides_path do %>
                <i class="fa fa-map"></i> <%= t ".guides", default: "My Guides" %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Edit Profile" %>
              <% end %>
            </li>
            <% if current_user.admin %>
              <li>
                <%= link_to rails_admin_path do %>
                  <i class="fa fa-gears"></i>  <%= t ".admin", default: "Admin" %>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <button type="button" class="navbar-wagon-button1" data-toggle="modal" data-target="#modalsignup">
               Login
      </button>


    <% end %>

    <!-- Button (call-to-action) -->
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalsignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-body">
          <div class="header">
            <div class="modallogo" style="background-image: url(<%= image_path 'bcklgn.jpg' %>)">
              <%= image_tag "Logowhite.png" %>
            </div>
          </div>
          <div class="infoconnect">
         <% User.omniauth_providers.each do |provider| %>
              <%= link_to  omniauth_authorize_path(:user, provider), class:"btn buttonfb" do %>
                <i class="fa fa-facebook-square"></i>Connect with Facebook
              <% end %>
            <% end %>
            <p><i class="fa fa-info-circle" aria-hidden="true"></i> We dont publish anything on Facebook</p>
          </div>
      </div>
  </div>
</div>

