<div class="banner-guide-board">
  <div>
    <% if @friend.bloger == true %>
      <%= image_tag(@friend.bloguers[0].profile_pic, class: "avatar") %>
    <% elsif @friend.photo.file == nil %>
      <%= image_tag(@friend.picture, class: "avatar") %>
    <% else %>
      <%= image_tag(@friend.photo, class: "avatar") %>
    <% end %>
    <% if @friend.bloger == true %>
      <%= "Les guides de " + @friend.bloguers[0].name %>
    <% else %>
      <%= "Les guides de " + @friend.first_name %>
    <% end %>
  </div>
</div>


<div class="wrapper-grey">
  <div class="container">
  <% if @friend.bloger == true %>
    <div class="blogueur-stamp">
      <%= image_tag("Blogueur.png", class: "stylestamp") %>
    </div>
    <div class="text-center">
      <p><b><%= link_to "Apprenez-en plus sur "+@friend.bloguers[0].name, bloguer_path(@friend.bloguers.ids) %></b></p>
    </div>
  <% end %>
    <div id="map-board" style="width: 100%; height: 50vh; position: center; box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;"></div>
  </div>
</div>

<div class="container">
  <%= render 'shared/friendguides', guides: @guides %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');

       handler.buildMap({
          provider: {
            scrollwheel: false,
            styles: mapStyle1
          },
          internal: { id: 'map-board' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(2);
        });
      })
  </script>
<% end %>

