<div class=supreme-container>
<div class="main">
      <div class="homepage-hero-module">

        <div class="video-container" style="background-image: url(<%= image_path 'city_night.jpg' %>)">
            <i class="fa fa-angle-right hidden-xs" aria-hidden="true"></i>
              <div class="home-logo text-center">
                  <%= image_tag "Logowhite2.png" %>
              <div id="changethewords" style="color:white">
                <h2><b>Créez vos guides de voyages et</b><h2>
                <h2>
                <span data-id="1">Parcourez le monde</span>
                <span data-id="2">Faites découvrir votre ville</span>
                <span data-id="3">Partagez vos bons plans</span>
                <span data-id="4">Gardez vos souvenirs intacts</span>
                <span data-id="5">Préparez votre prochain voyage à Berlin</span>
                <span data-id="6">Ou à Zanzibar</span>
                <span data-id="7">Ou à Dunkerque</span>
                <span data-id="8">Préparez, découvrez, partagez, et surtout</span>
                <span data-id="9">Soyez vous-même</span>
                <span data-id="10">Combien de temps lirez-vous ces messages ?</span>
                <span data-id="11">Nous avons encore plein de suggestions</span>
                <span data-id="12">Mais pourquoi-pas créer un guide dès maintenant ?</span>
                <span data-id="13">Il faut juste cliquer sur le gros bouton dessous</span>
                <span data-id="14">T'as prévu un truc ce soir?</span>
                <span data-id="15">Ok let's start !</span>
                </h2>
            </div>
            <button type="button" class="homecreate" data-toggle="modal" data-target="<%= user_signed_in? ? "#guideModal" : "#modalsignup"
 %>">
               Créer un guide
            </button>
            </div>

    </div>



      <div class="row">
        <div class="col-xs-12">
          <div class="whatwedo-title text-center">
            <p>Créez en quelques minutes des guides personnalisés pour vos voyages, vos week-ends et vos sorties</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <p><b>Collectez</b></p>
            <p><%= image_tag "collect.png" %></p>
            <p style= "font-size: 14px">Ajouter des spots à vos guides en recherchant une adresse ou en utilisant les guides de vos amis</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <p><b>Voyagez</b></p>
            <p><%= image_tag "travel.png" %></p>
            <p style= "font-size: 14px">Utlisez votre guide pour découvrir un quartier, une ville, un pays et rajoutez-y vos propre découvertes</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <p><b>Partagez</b></p>
            <p><%= image_tag "share.png" %></p>
            <p style= "font-size: 14px">Partagez vos bons plans facilement et donnez envie à vos amis de partir en voyage </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="palmier text-center">
          <p>Ou inspirez-vous des guides déjà réalisés !</p>
            <%= image_tag "palmier.png" %>
          </div>
        </div>
      </div>

      </div>
        <%= render 'shared/guideshome', guides: @guides %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="bottommargin">
          </div>
        </div>
      </div>

  </div>
</div>
<!-- <div class="bannercollect"></div> -->
<!-- <div class="bannerdiscover"></div>
<div class="bannershare"></div> -->

</div>

<%= render 'shared/modal' %>


<!-- Include Google Maps JS API -->
<!-- <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjxOsy8vrEh0TCr5XjPV_T4-V7rE3Zq_8">

</script> -->

<% content_for(:after_js) do %>
<script>
  $(document).on('ready', function() {
      $("#changethewords").changeWords({
        time: 3000,
        animate: "fadeInUp",
        selector: "span"
      });
    });
</script>
<%end%>
