<div class="banner-guide-board" style="background-image: url(<%= cl_image_path @guide.photo %>)">
<%= @guide.name.upcase %>
<p><%= @guide.description %></p>
</div>

<div id="map-guide" style="width: 100%; height: 300px;"></div>





<div class="container">
  <div class="row">
    <%= render 'shared/card' %>
  </div>
</div>


<hr>

<%= link_to 'See all my guides', guides_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Add Card', new_card_path(guide_id: params[:id]) %>


<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      // handler.buildMap({ internal: { id: 'map-guide' } }, function(){
      //   markers = handler.addMarkers(<%= raw @markers.to_json %>);
      //   handler.bounds.extendWith(markers);
      //   handler.fitMapToBounds();
      // });
      //
      //

       handler.buildMap({ internal: { id: 'map-guide' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
         handler.fitMapToBounds();
         if (markers[0].serviceObject.title === "country") {
           handler.getMap().setZoom(7);
         } else if (markers[0].serviceObject.title === "administrative_area_level_1" | markers[0].serviceObject.title === "administrative_area_level_2") {
           handler.getMap().setZoom(9);
          } else {
            handler.getMap().setZoom(11);
          }
          markerscard = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markerscard);
          markers = handler.removeMarkers(markers);
        });
      })
  </script>
<% end %>
