<div class="supreme-container">
<div class="banner-guide-board">
<%= @guide.name.upcase %>
</div>

<div id="map-guide" style="width: 100%; height: 50vh; position: center;"></div>

<%= render 'cards/form' %>

<div class="container">
<h4 id="total-places">
  <%="Your places (" + @cards.count.to_s + ")" %>
</h4>
  <div class="card-filters">
    <ul class="list-inline">
      <li>
        <%= link_to guide_path(@guide, category: "Eat"), remote: true do %>
          <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to guide_path(@guide, category: "Sleep"), remote: true do %>
          <i class="fa fa-bed fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "Drink"), remote: true do %>
        <i class="fa fa-glass fa-lg" aria-hidden="true"></i>
      <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "Shop"), remote: true do %>
        <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
      <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "Do"), remote: true do %>
        <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
      <% end %>
      </li>
      <li>
      </li>
      <li style="text-decoration: none; "><b>
      <%= link_to "All", guide_path(@guide, category: "All"), remote: true %>
      </b></li>
    </ul>
  </div>
  <div class="row" id="guide-cards">
    <%= render 'shared/cards', cards: @cards %>
  </div>
</div>
</div>



<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
       handler.buildMap({
        provider: {
          scrollwheel: false,
          styles: mapStyle
        },
        internal: { id: 'map-guide' }
      }, function(){
          markersguide = handler.addMarkers(<%= raw @markersguide.to_json %>);
          markerscard = handler.addMarkers(<%= raw @markers.to_json %>);
          markersnewcard = handler.addMarkers(<%= raw @markers_new_card.to_json %>);


          if (markerscard.length === 0){
            handler.bounds.extendWith(markersguide);
            handler.fitMapToBounds();
            markers = handler.removeMarkers(markersguide);
            if (markersguide[0].serviceObject.title === "country") {
              handler.getMap().setZoom(6);
             } else if (markersguide[0].serviceObject.title === "administrative_area_level_1") {
              handler.getMap().setZoom(9);
             } else if (markersguide[0].serviceObject.title === "administrative_area_level_2") {
              handler.getMap().setZoom(10);
             } else {
               handler.getMap().setZoom(11);
             }
          } else if (markerscard.length === 1) {
            handler.bounds.extendWith(markerscard);
            handler.fitMapToBounds();
            handler.getMap().setZoom(14);
            markers = handler.removeMarkers(markersguide);

          } else {
            handler.bounds.extendWith(markerscard);
            handler.fitMapToBounds();
            markers = handler.removeMarkers(markersguide);

          }
        }
      );
          // $("#new-card-button").click(function() {
          //   $('html, body').animate({
          //     scrollTop: $("#new-card-button").offset().top
          //   }, 2000);
          // });
      })


  </script>
<% end %>
