<div id="map-guide" style="width: 100%; height: 600px;"></div>

<h3><%= @guide.name %></h3>

<p><%= @guide.description %></p>

<div class="container">
  <div class="row">
    <%= render 'shared/card' %>
  </div>
</div>


<hr>

<%= link_to 'See all my guides', guides_path %> |
<%= link_to 'Home', root_path %> |
<%= link_to 'Add Card', new_card_path(guide_id: params[:id]) %>


<script>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map-guide' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
        handler.buildMap({ internal: { id: 'map-guide' } }, function(){
          markers = handler.addMarkers(<%= raw @markersguide.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(6);
          markers = handler.removeMarkers(markers);
        });
      })
    <% end %>
  <% end %>
</script>
