<% content_for :meta_title, "#{@guide.name} - Le guide Take Away Trips de #{@guide.user.first_name}" %>
<% content_for :meta_description, "Avec Take Away Trips, collectez, découvrez et partagez vos meilleures adresses" %>
<% if @guide.photo.url == nil%>
  <% content_for :meta_image, @guide.gphoto %>
<% else %>
  <% content_for :meta_image, @guide.photo.url %>
<%end%>


<div class="supreme-container">
<div class="banner-guide-board">
  <div class="previousguide">
  <% if @guide.user == current_user %>
    <% index = current_user.guides.ids.index(@guide.id) %>
    <% previousid = current_user.guides[index-1].id %>
    <%= link_to guide_path(previousid), class: "previous_guide_arrow" do %>
      <i class="material-icons">keyboard_arrow_left</i>
    <% end %>
  <% else %>
  <ul class="list-inline">
    <li>
    <%= link_to friend_guides_list_path(@guide.user.uid), class: "back to guide board" do %>
      <i class="material-icons">local_library</i>
    <%end%>
    </li>
    <li>
    <h5><%= "Back to #{@guide.user.first_name}'s guideboard" %></h5>
    </li>
  <% end %>
  </div>
  <div class="guidename">
    <%= @guide.name.upcase %>
  </div>
  <div class="nextguide">
  <% if @guide.user == current_user %>
    <% index = current_user.guides.ids.index(@guide.id) %>
    <% if index == current_user.guides.size-1 %>
      <% nextid = current_user.guides[0].id %>
    <% else %>
      <% nextid = current_user.guides[index+1].id %>
    <% end %>
    <%= link_to guide_path(nextid), class: "next_guide_arrow" do %>
      <i class="material-icons">keyboard_arrow_right</i>
    <% end %>
  <% end %>
  </div>

</div>

<div id="map-guide" style="width: 100%; height: 50vh; position: center;"></div>


<% if @guide.user == current_user %>
  <div id="js-card-form">
    <%= render 'cards/form', guide: @guide, card: @card %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4 id="total-places">
        <% name = @guide.user.first_name + " " + @guide.user.last_name %>
        <%="#{name} places (" + @cards.count.to_s + ")" %>
      </h4>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="privacy-settings text-right">
        <h4 id="privacy">
          <% if @guide.privacy == "private" %>
            <% if @guide.user == current_user %>
              <i class="fa fa-lock" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This guide is just for you! You can change the privacy settings on your Guideboard"></i>
            <% else %>
              <i class="fa fa-lock" aria-hidden="true"></i>
            <% end %>
            <%= "Private Guide" %>
          <% elsif  @guide.privacy == "public"%>
            <% if @guide.user == current_user %>
            <i class="fa fa-globe" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Any user of TAT can see this guide. You can change the privacy settings on your Guideboard"></i>
            <% else %>
              <i class="fa fa-globe" aria-hidden="true"></i>
            <% end %>
            <%= "Public guide" %>
          <% else @guide.privacy == "facebook" || @guide.privacy == nil %>
            <% if @guide.user == current_user %>
            <i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This guide is visible to you and your friends. You can change the privacy settings on your Guideboard"></i>
            <% else %>
              <i class="fa fa-users" aria-hidden="true"></i>
            <% end %>
            <%= "Friendly guide" %>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
  <div class="card-filters">
    <ul class="list-inline">
      <li>
        <%= link_to guide_path(@guide), remote: true do %>
          <i class="material-icons">apps</i>
        <% end %>
        </li>
      <li>
        <%= link_to guide_path(@guide, category: "Eat"), class: "category category--eat", remote: true do %>
          <i class="material-icons">local_dining</i>
        <% end %>
      </li>
      <li>
        <%= link_to guide_path(@guide, category: "Sleep"), class: "category category--sleep", remote: true do %>
          <i class="material-icons">local_hotel</i>
        <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "Drink"), class: "category category--drink", remote: true do %>
        <i class="material-icons">local_bar</i>
      <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "Shop"), class: "category category--shop", remote: true do %>
        <i class="material-icons">shopping_basket</i>
      <% end %>
      </li>
      <li>
      <%= link_to guide_path(@guide, category: "See"), class: "category category--see", remote: true do %>
        <i class="material-icons">local_see</i>
      <% end %>
      </li>
    </ul>
  </div>



  <div class="row" id="guide-cards">
    <%= render 'shared/cards', cards: @cards %>
  </div>
</div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
       handler.buildMap({
        provider: {
          scrollwheel: false,
          styles: mapStyle
        },
        internal: { id: 'map-guide' }
      }, function(){
          markersguide = handler.addMarkers(<%= raw @markersguide.to_json %>);
          markerscard = handler.addMarkers(<%= raw @markers.to_json %>);
          markersnewcard = handler.addMarkers(<%= raw @markers_new_card.to_json %>);


          if (markerscard.length === 0){
            handler.bounds.extendWith(markersguide);
            handler.fitMapToBounds();
            markers = handler.removeMarkers(markersguide);
            if (markersguide[0].serviceObject.title === "country") {
              handler.getMap().setZoom(6);
             } else if (markersguide[0].serviceObject.title === "administrative_area_level_1") {
              handler.getMap().setZoom(9);
             } else if (markersguide[0].serviceObject.title === "administrative_area_level_2") {
              handler.getMap().setZoom(10);
             } else {
               handler.getMap().setZoom(11);
             }
          } else if (markerscard.length === 1) {
            handler.bounds.extendWith(markerscard);
            handler.fitMapToBounds();
            handler.getMap().setZoom(14);
            markers = handler.removeMarkers(markersguide);

          } else {
            handler.bounds.extendWith(markerscard);
            handler.fitMapToBounds();
            markers = handler.removeMarkers(markersguide);

          }
        }
      );
       $('[data-toggle="tooltip"]').tooltip({
           });
      });


  </script>
<% end %>
